# Virtual environment
Scripts/
Lib/
Include/
pyvenv.cfg
.env

# Python cache files
__pycache__/
*.pyc

# Django database
db.sqlite3

# IDE/Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db